<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
	<h1>My HBS Page</h1>
	<p>Challenge page</p>
	<p>This is my dog. She puked everywhere this morning and almost made me late.</p>
	{{> links}}
</body>
	
	{{> footer}}
	
</html>